.header {
    margin-bottom: 2rem;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    color: #777;
    margin-bottom: 40px;
    font-weight: 400;
    margin: 0; // Необходимо доделать после настройки базового стиля шрифтов
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
