.card {
    display: flex;
    flex-direction: column;
    width: 208px;
    height: 208px;
    gap: 24px;
    padding: 16px;
    border: 1px solid #DDDDDD;
    border-radius: 12px;
    padding: 5%;
}

.image {
    width: 24px;
    height: 24px;
}

.text {
    margin: 0;
    line-height: 24px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
