html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;               
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.carouselWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative; 
}

.searchBarAbsolute {
  position: absolute;
  left: 50%;       
  bottom: 0;        
  transform: translateX(-50%) translateY(50%);
  z-index: 10;
  width: 100%;
}
